__pycache__/

*.out
*.log
# *.ipynb
*.sh
*.npz
*.tar.gz
*.ckpt
*.ipynb

.ipynb_checkpoints/

# libs
libs/

# docs
docs/build/
_build/

# result directory
result*

# ckpt directory
best_ckpt/

# idea
.idea/

# file
demo.py
moftransformer/database/coremof/
moftransformer/database/hmof/
moftransformer/database/qmof/
moftransformer/database/finetuned/
moftransformer/examples/dataset/
moftransformer/config.py

dft/
figures/
case_study/
data/
test/
tmp/
embedding
database/

# baseline_model
baseline_model/*/*.csv
baseline_model/*/*.txt
baseline_model/*/output

# logs
logs/

# setuptools
build/
dist/
.eggs/
*.egg-info
*.eggs

# trasfer_learning
transfer_learning/

# vscode
.vscode/
