__pycache__/

*.out
*.log
# *.ipynb
*.sh
*.npz
*.tar.gz
*.ckpt
*.ipynb

.ipynb_checkpoints/

# libs
libs/

# docs
docs/build/
_build/

# result directory
result*

# ckpt directory
best_ckpt/

# idea
.idea/

# file
demo.py
model/config_YH.py
model/config_HS.py
moftransformer/database/coremof/
moftransformer/database/hmof/
moftransformer/database/qmof/
moftransformer/database/finetuned/

dft/
figure/
case_study/

# baseline_model
baseline_model/*/*.csv
baseline_model/*/*.txt
baseline_model/*/output

# example
examples/logs/

# setuptools
build/
dist/
.eggs/
*.egg-info
*.eggs

# trasfer_learning
transfer_learning/
