numpy~=1.21.4
pandas~=1.3.4
pyarrow~=6.0.1
tqdm~=4.62.3
pymatgen~=2022.0.16
ase~=3.22.1
torch~=1.10.0+cu113
torchmetrics~=0.6.0
transformers~=4.12.5
timm~=0.4.12
matplotlib~=3.5.0
sacred~=0.8.2